aws_region   = "eu-west-1"
project_name = "delivery-platform-dev"
environment  = "dev"

vpc_cidr             = "10.20.0.0/16"
public_subnet_cidrs  = ["10.20.1.0/24", "10.20.2.0/24"]
private_subnet_cidrs = ["10.20.11.0/24", "10.20.12.0/24"]

enable_ssm_vpc_endpoints = true
enable_web_ssm           = true

web_ami_id       = "ami-REPLACE_WITH_WEB_AMI"
ssm_proxy_ami_id = "ami-REPLACE_WITH_SSM_PROXY_AMI"

web_min_size         = 1
web_desired_capacity = 1
web_max_size         = 2

asg_min_healthy_percentage     = 50
asg_instance_warmup_seconds    = 120
asg_checkpoint_delay_seconds   = 180
tg_slow_start_seconds          = 60
health_check_healthy_threshold = 2
instance_type_web              = "t3.micro"

github_owner             = "REPLACE_WITH_GITHUB_OWNER"
github_repo              = "REPLACE_WITH_GITHUB_REPO"
github_branch            = "main"
github_apply_environment = "terraform-dev"

github_oidc_provider_arn = "arn:aws:iam::REPLACE_ACCOUNT_ID:oidc-provider/token.actions.githubusercontent.com"

tf_state_bucket_name = "REPLACE_WITH_TFSTATE_BUCKET"
tf_state_key         = "delivery-platform/dev/full/terraform.tfstate"

demo_api_token_parameter_name = "/devops/delivery-platform/dev/demo/api-token"
demo_app_secret_name          = "/devops/delivery-platform/dev/demo/app-secret"

common_tags = {
  Owner       = "PlatformTeam"
  Criticality = "low"
}
